# Virtual environment
visionenv/
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Uploaded/generated images
*.jpg
*.jpeg
*.png

# Streamlit
.streamlit/secrets.toml